 @import 'ember-paper';
 .nav-card{

 }
 .fa {
   font-size: 50px;
   margin-right: 16px;
   &.facebook-icon{
     color: #3b5998;
   }
   &.youtube-icon{
     color: #cc181e;
   }
 }

 .algolia-logo{
   width: 50px;
   height: 50px;
   margin-right: 16px;
 }

.token-good{
  color: #009688;
}
.token-warning{
  color: #FFEB3B;
}
.token-invalid{
  color: #F44336;
}
