<!-- {{#paper-sidenav-container class="inner-sidenav"}}
 {{#paper-sidenav
   class="md-whiteframe-z2"
   name="left"
   open=leftSideBarOpen
   onToggle='toggleSidebar'
 }}
   {{#paper-toolbar as |toolbar|}}
     {{#paper-toolbar-tools}}
        Left Sidenav
     {{/paper-toolbar-tools}}
   {{/paper-toolbar}}
   {{#paper-content padding=true}}
     Çup?
   {{/paper-content}}
 {{/paper-sidenav}}

 {{#paper-card-content class="flex"}}
   <div class="layout-fill layout-align-start-center layout-column" style="height: 500px">
     <p>
       The left sidenav will "lock open" on a medium (>=960px wide) device.
     </p>
     <p>
       Left sidenav is {{if leftSideBarOpen "opened" "closed"}}
     </p>

     {{#paper-sidenav-toggle name="left" as |toggleAction|}}
       {{#paper-button raised=true classNames="hide-gt-sm" onClick='toggleSidebar'}}
         Toggle
       {{/paper-button}}
     {{/paper-sidenav-toggle}}

   </div>
 {{/paper-card-content}}
{{/paper-sidenav-container}} -->
